<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - Flaskr</title>
  <meta name="description" content="">
  <meta name="author" content="loc nguyen vu">
  <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

  <!-- Scripts –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</head>
<body>
  <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    {% block content %}{% endblock %}
  </div>

<!-- End Document –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% block javascript %}{%endblock %}
</body>
</html>